
@font-face {
    font-family: 'font-padrão';
    src: url('fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'font-bold';
    src: url('fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'font-semibold';
    src: url('fonts/Poppins/Poppins-SemiBold.ttf');
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'font-padrão', sans-serif;
}

.header-home {
    background: url(imagens/background-home.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 3rem;
}

/***** Header página Sobre *****/

.header-home-sobre {
    background: url(imagens/background-sobre1.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 3rem;
}

/**************/

/***** Header página Serviços *****/

.header-home-servicos {
    background: url(imagens/background-servicos.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 3rem;
}

/**************/

/***** Header página Contato *****/

.header-home-contato {
    background: url(imagens/background-contacto.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 3rem;
}

/**************/

.img-menu {
    display: none;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: 0px 6rem;
    align-items: center;
    padding-top: 12px;
    height: 120px;
}

.list {
    display: flex;
    list-style: none;
    gap: 3.5rem;
}

.list-links {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.list-links::after {
    content: '';
    background-color: #4699E4;
    border-radius: 2px;
    height: 3px;
    width: 0%;
    margin: 0px auto;
    display: block;
}

.list-links:hover::after {
    width: 100%;
    transition: 0.4s;
}

#contato-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #4699E4;
    padding: 1rem 1.1rem;
    border-radius: 10px;
}

#contato-link:hover {
    background-color: #2f81c9;
    transition: 0.3s;
}

.header-titulo {
    display: flex;
    justify-content: center;
}

.titulo {
    text-align: center;
    margin: 240px 0px;
    padding: 25px;
}

.titulo h1 {
    font-family: 'font-bold', sans-serif;
    font-size: 4.7rem;
    color: rgb(245, 245, 245);
    margin-bottom: 2px;
}

.titulo p {
    font-size: 1.2rem;
    color: rgb(199, 199, 199);
    margin-bottom: 16px;
}

.titulo .button-titulo {
    padding: 16px 22px;
    font-family: 'font-padrão', sans-serif;
    font-size: 1.1rem;
    background-color: #4699E4;
    color: rgb(228, 227, 227);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    animation: animate-outline 1s ease-out infinite; /* Animação */
}

.titulo .button-titulo:hover {
    background-color: #2c82ce;
    transition: 0.3s;
}

@keyframes animate-outline {
    from {
        outline: 0px solid #4699E4;
    }
    to {
        outline: 14px solid #00000000;
    }
}

/***** Section 1 *****/

.desc1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 4rem;
}

.img-desc1 img {
    height: 370px;
}

.text-desc {
    width: 800px;
}

.text-desc h2 {
    font-size: 2.7rem;
    font-family: 'font-bold', sans-serif;
    margin-bottom: 10px;
}

.text-desc p {
    color: #474849;
    margin-bottom: 12px;
}

.button-desc {
    padding: 15px 20px;
    font-family: 'font-padrão', sans-serif;
    font-size: 1rem;
    background-color: #4699E4;
    color: rgb(228, 227, 227);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-desc:hover {
    background-color: #2c82ce;
    transition: 0.3s;
}

.desc2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 7rem;
}

.img-desc2 img {
    height: 360px;
}

/***** Section 2 *****/

.section2-title {
    text-align: center;
    margin-bottom: 2rem;
}

.section2-title h1 {
    font-family: 'font-bold', sans-serif;
    font-size: 2.7rem;
}

.section2-title p {
    color: #474849;
}

/** Cards **/

.card-perfil img {
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
    margin-bottom: 7rem;
}

.card {
    width: 350px;
    padding: 1.1rem;
    background-color: #c5d9e9;
    text-align: center;
    border-radius: 1rem;
}

.nome-card {
    font-family: 'font-semibold', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: rgb(24, 24, 24);
}

.desc-card {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: rgb(49, 49, 49);
}

.stars {
    border-top: 1px solid #71767a5e;
}

.stars i {
    margin-top: 1rem;
    color: #3e85c4;
    font-size: 1.1rem;
}

.card:hover {
    background-color: #3e85c4;
    margin-top: -2rem;
    transition: 0.4s;
}

.card:hover .nome-card,
.card:hover .desc-card,
.card:hover .stars i {
    color: rgb(226, 226, 226);
    transition: 0.3s;
}

/****** Section 3 ******/

.section3-title {
    text-align: center;
    margin-bottom: 10px;
}

.section3-title h1 {
    font-family: 'font-bold', sans-serif;
    font-size: 2.7rem;
}

.section3-title p {
    color: #474849;
}

.clientes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

/****** Section 4 ******/

.section4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 5rem;
    margin-bottom: 4rem;
}

.section4-desc {
    width: 800px;
}

.section4-desc h2 {
    font-size: 2.7rem;
    font-family: 'font-bold', sans-serif;
    margin-bottom: 10px;
}

.section4-desc p {
    color: #474849;
    margin-bottom: 12px;
}

.section4-img img {
    height: 390px;
}

/****** Footer ******/

footer {
    background-color: #3e85c4;
    text-align: center;
}

.links i {
    color: #3e85c4;
    background-color: white;
    padding: 10px;
    margin: 10px 5px;
    margin-top: 55px;
    font-size: 1.5rem;
    border-radius: 10px;
}

.footer-content p {
    color: rgb(228, 228, 228);
    padding-bottom: 50px;
}

/********** Página Sobre **********/

.section-sobre-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
}

.section-sobre-desc {
    width: 550px;
    padding-right: 1.5rem;
}

.section-sobre-desc h2 {
    font-family: 'font-bold', sans-serif;
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.section-sobre-desc p {
    font-family: 'font-padrão', sans-serif;
    margin-bottom: 10px;
}

.section-sobre-img img {
    height: 480px;
    border-radius: 10px;
}

/********** Página Serviços **********/

/***** Section 1 *****/

.section-servicos {
    margin-bottom: 3.5rem;
}

.titulo-servicos h1 {
    text-align: center;
    font-family: 'font-bold', sans-serif;
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.servicos-cards {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    gap: 3rem;
    justify-content: center;
    padding: 1.5rem;
}

.servicos-card {
    background-color: #D2E6F5;
    width: 370px;
    padding: 1.2rem;
    border-radius: 1rem;
}

.servicos-card-icon img {
    background-color: #3e85c4;
    height: 75px;
    padding: 11px;
    border-radius: 1rem;
}

.servicos-card-title {
    font-family: 'font-bold', sans-serif;
    color: #353535;
    margin-bottom: 3px;
}

.servicos-card-desc {
    font-size: 0.9rem;
    color: rgb(49, 49, 49);
}

.servicos-card:hover {
    background-color: #3e85c4;
    transition: 0.4s;
}

.servicos-card:hover .servicos-card-title,
.servicos-card:hover .servicos-card-desc {
    color: white;
    transition: 0.3s;
}

/***** Section 2 *****/

.section-servicos2 {
    background-color: #D2E6F5;
}

.historicos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.3rem;
    padding: 5.2rem 0px;
    text-align: center;
}

.historico-icon img {
    background-color: #3e85c4;
    height: 80px;
    padding: 11px;
    border-radius: 1rem;
    margin-bottom: 5px;
}

.dados {
    font-family: 'font-semibold', sans-serif;
    font-size: 1.5rem;
    color: #353535;
}

.dados-desc {
    color: #353535;
}

/********** Página Contato **********/

.contato-mapa {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

/***** Section 2 *****/

.section-contato2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.endereco {
    background-color: #3e85c4;
    padding: 2rem;
    border-radius: 10px;
    color: white;
}

.endereco-items i {
    font-size: 20px;
    padding-right: 1rem;
}

.endereco-items p {
    line-height: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
}

/************************ Media Queries ***************************/

@media screen and (max-width: 1300px) {
    
    .img-desc1 img {
        height: 320px;
    }

    .img-desc2 img {
        height: 310px;
    }

    .section4-img img {
        height: 340px;
    }

    .clientes {
        gap: 0px;
    }

    .section-sobre-img img {
        height: 380px;
    }

    .section-sobre-desc h2 {
        font-size: 2rem;
    }

}

@media screen and (max-width: 1090px) {
    
    .cabecalho {
        margin: 0px 2rem;
    }

    /********* Página Serviços *********/

    .servicos-cards {
        grid-template-columns: 370px 370px;
    }

}

@media screen and (max-width: 880px) {

    .cabecalho {
        margin: 0px 1rem;
    }

    .titulo {
        margin: 170px 0px;
    }

    .titulo h1 {
        font-size: 3.3rem;
    }

    .titulo p {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    /***************** Menu Responsivo *****************/
    
    .img-menu {
        display: block;
        z-index: 1;
    }

    .menu-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menu-icon {
        height: 35px;
    }

    .list {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background: #216bac;
        clip-path: circle(0% at 100% 0);
        transition: 0.6s ease-out;
        pointer-events: none;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*** Estilos ativos ***/

    .open .list {
        clip-path: circle(141.4% at 100% 0);
        pointer-events: all;
    }

    .open .menu-button {
        position: fixed;
        top: 45px;
        right: 25px;
    }

    /***************/

    .list-links {
        padding: 10px 0px;
        font-size: 1.1rem;
    }

    .contato-link {
        font-size: 1.1rem;
    }

    /************************************************/

    .header-home {
        margin-bottom: 4rem;
    }

    .desc1 {
        flex-direction: column;
        margin-bottom: 6rem;
    }

    .desc2 {
        flex-direction: column;
    }

    .img-desc1 img {
        height: 230px;
    }

    .img-desc2 img {
        height: 220px;
        margin-bottom: 1.2rem;
    }

    .text-desc h2 {
        font-size: 2.1rem;
    }

    .text-desc p {
        margin-bottom: 1rem;
    }

    .text-desc {
        width: 370px;
        padding: 0px 1.6rem;
    }

    /****** Section 2 ******/

    .section2-title {
        padding: 10px;
    }

    .section2-title h1 {
        font-size: 1.8rem;
    }

    .section2-title p {
        font-size: 1rem;
    }

    .cards {
        flex-direction: column;
        gap: 3rem;
    }

    .card {
        width: 85vw;
    }

    /****** Section 3 ******/

    .section3-title h1 {
        font-size: 1.9rem;
    }

    .section3-title p {
        padding: 0px 8px;
    }

    .clientes {
        flex-direction: column;
    }

    /****** Section 4 ******/

    .section4 {
        flex-direction: column;
    }

    .section4-desc h2 {
        font-size: 2.1rem;
    }

    .section4-desc {
        width: 370px;
        padding: 0px 1.6rem;
    }

    .section4-img img {
        height: 250px;
        margin-bottom: -4rem;
    }

    /****** Footer ******/

    .footer-content p {
        padding: 0px 8px;
        padding-bottom: 40px;
    }

    /********** Página Sobre **********/

    .section-sobre-content {
        flex-direction: column;
        margin-top: 3rem;
    }

    .section-sobre-img img {
        height: 210px;
        margin-bottom: 16px;
    }

    .section-sobre-desc {
        padding-right: 0px;
        width: 85vw;
    }

    /********** Pagina Serviços **********/

    .servicos-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .servicos-card {
        background-color: #D2E6F5;
        width: 85vw;
        padding: 1.2rem;
        border-radius: 1rem;
    }

    .historicos {
        flex-direction: column;
    }

}